.col-1{ width:8.33%; }
.col-2{ width:16.66%; }
.col-3{ width:25%; }
.col-4{ width:33.33%; }
.col-5{ width:41.66%; }
.col-6{ width:50%; }
.col-7{ width:58.33%; }
.col-8{ width:66.66%; }
.col-9{ width:75%; }
.col-10{ width:83.33%; }
.col-11{ width:91.66%; }
.col-12{ width:100%; }
[class*='col-']
{
	float:left;
	box-sizing:border-box;
	border:2px solid white;
	
	
	
}
.header-height{height: 177px;margin:auto;background:skyblue; }
.menu-height{height:50px;background:#F9B2B8;margin:0;border:5px solid #F9B2B8; }
.content-height{height:600px;background:skyblue;}
.footer-height{height:50px;background:#57F985;}
.header-top-height{height:50px;margin:0;background:#DCFCD7;padding:10;}
.big-footer-height{height:300px}
.wrapper{
	width:100%;
	height:auto;
	margin:0 auto;
	padding:10px;
	border-left:5px solid #DDDCDC;
	border-right:5px solid #DDDCDC;
	border-top:2px solid #DDDCDC;
	
	background:#DDDCDC;
	float:left;
	
	
}